{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>F.A.Q - Assistante Virtuel</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    <style>
        .pagetitle {
            width: 100%;
            text-align: left;
            padding-left: 20px; /* Espacement depuis le bord gauche */
        }

        html, body {
            height: 100%;
            width: 100%;
            padding-top: 0%;
            margin-right: 0%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }

        /* Pour aligner le titre F.A.Q à gauche */
        .pagetitle {
            width: 100%;
            text-align: left;
            padding-left: 20px;
        }

        .main {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #f4f4f4;
            padding: 20px;
            width: 100%;
        }

        /* CSS pour la FAQ */
        body {
            font-family: Arial, sans-serif;
            width: 100%;
            margin: 20px;
            background-color: #f5f5f5;
            display: flex;
            flex-direction: column; /* Ajout pour aligner les éléments en colonne */
            align-items: center; /* Centrage horizontal */
        }

        .faq-container {
            width: 60%;
            margin-top: 20px; /* Ajout d'une marge en haut pour le centrage vertical */
            padding: 20px;
            background: white;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
        }

        .faq-item {
            margin-bottom: 10px;
        }

        .faq-question {
            background-color: #092646;
            color: white;
            padding: 15px;
            cursor: pointer;
            border-radius: 5px;
            font-weight: bold;
        }

        .faq-answer {
            display: none;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f8f8f8;
            margin-top: 5px;
        }
    </style>

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Apr 20 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="{% url 'index' %}" class="logo d-flex align-items-center">
                <img src="{% static 'assets/img/logo.png' %}" alt="">
                <span class="d-none d-lg-block"> Assistant Virtuel</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="GET" action="{% url 'global_search' %}">
                {% csrf_token %}
                <input type="text" name="query" placeholder="Rechercher..." title="Entrez un mot-clé">
                <input type="hidden" name="table" value="ressources">  <!-- <- ici -->
                <button type="submit" title="Rechercher"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->
                <li class="nav-item dropdown">
                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number">{{ notifications|length }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <li class="dropdown-header">
                            Vous avez {{ notifications|length }} nouvelle{{ notifications|length|pluralize }} notification{{ notifications|length|pluralize }}
                            
                        </li>
                        <li><hr class="dropdown-divider"></li>
                
                        {% if notifications %}
                            {% for notification in notifications %}
                                <li class="notification-item">
                                    <i class="bi bi-bell text-primary"></i> <!-- Icône par défaut -->
                                    <div>
                                        <h4>{{ notification.message }}</h4>
                                        <p class="small text-muted">{{ notification.created_at|date:"d/m/Y H:i" }}</p>
                                    </div>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                            {% endfor %}
                        {% else %}
                            <li class="dropdown-item text-center">
                                <em>Aucune nouvelle notification</em>
                            </li>
                        {% endif %}
                
                        
                    </ul>
                </li><!-- End Notification Nav -->
          
                
                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                      <img src="{{ request.user.photo.url }}" alt="Profile" class="rounded-circle">
                      <span class="d-none d-md-block dropdown-toggle ps-2">{{ request.user.nom }}</span>
                  </a><ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>{{ request.user.nom }}</h6>
                        <span>{{ request.user.fonction }}</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li> 

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'users-profile' %}">
                                <i class="bi bi-person"></i>
                                <span>Mon profil</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Se déconnecter</span>
                            </a>
                        </li>
                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->
            </ul>
        </nav><!-- End Icons Navigation -->
    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link " href="{% url 'index' %}">
                    <i class="bi bi-grid"></i>
                    <span>Accueil</span>
                </a>
            </li><!-- End Accueil Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'ressources' %}">
                    <i class="bi bi-menu-button-wide"></i><span>Ressources</span>
                </a>
            </li><!-- End Ressources Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'planning' %}">
                    <i class="bi bi-menu-button-wide"></i><span>planning</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:8501" target="_blank" class="nav-link collapsed">
                    <i class="bi bi-menu-button-wide"></i>
                    <span>Suivi</span>
                </a>
            </li>
            <li class="nav-heading">Pages</li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'users-profile' %}">
                    <i class="bi bi-menu-button-wide"></i><span>Profil</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'pages-faq' %}">
                    <i class="bi bi-question-circle"></i>
                    <span>F.A.Q</span>
                </a>
            </li><!-- End F.A.Q Page Nav -->
        </ul>
    </aside><!-- End Sidebar-->

    <main id="main" class="main">
        <div class="faq-container">
            <h2>FAQ - Questions Fréquentes</h2>
            <div id="faq-list"></div>
        </div>
    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/chart.js/chart.umd.js' %}"></script>
    <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'assets/vendor/quill/quill.js' %}"></script>
    <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
    <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Liste des questions et réponses
        const faqs = [
            { question: "Comment accéder à mon profil d'enseignant ?", answer: "Pour accéder à votre profil, cliquez sur l'icône en haut à droite et sélectionnez 'Mon Profil'." },
            { question: "Comment consulter mon emploi du temps ?", answer: "L'emploi du temps est disponible dans la section 'Planning' du menu principal." },
            { question: "Puis-je modifier mes informations personnelles ?", answer: "Oui, allez dans 'Profil' puis 'Modifier mon profil'." },
            { question: "Comment importer les résultats des étudiants ?", answer:"Pour importer les résultats, allez dans la section 'Suivi des étudiants' et téléchargez le fichier CSV contenant les données des résultats en cliquant sur 'browses files'."},
            { question:  "Puis-je générer des graphiques à partir des résultats des étudiants ?", answer:"Oui, après l'importation des résultats via CSV, vous pouvez générer des graphiques comme les moyennes et le taux de réussite des étudiants,la meilleur note,la ,ote la plus basse."},
            { question: "comment ajouter un evenement?", answer: "Allez dans la section 'Ressources ' puis vous allez voir ajouter un evenement'." },
            { question:"Comment consulter mes notifications ?", answer: "Cliquez sur l'icône de notification en haut à droite pour voir toutes vos notifications récentes."},
            { question: "Comment téléverser des documents pédagogiques ?", answer:  "Allez dans la section 'Ressources', puis cliquez sur 'Téléverser un fichier'. Sélectionnez vos documents pour les ajouter."},
            { question: "puis je modifier mon mot de passe?", answer:"oui,allez dans mon profil puis dans 'changer le mot de passe'."},
           
        ];   

        // Génération dynamique de la FAQ
        const faqContainer = document.getElementById('faq-list');
        faqs.forEach((faq, index) => {
            const faqItem = document.createElement('div');
            faqItem.classList.add('faq-item');
            
            const questionDiv = document.createElement('div');
            questionDiv.classList.add('faq-question');
            questionDiv.textContent = faq.question;
            questionDiv.dataset.index = index;

            const answerDiv = document.createElement('div');
            answerDiv.classList.add('faq-answer');
            answerDiv.textContent = faq.answer;

            faqItem.appendChild(questionDiv);
            faqItem.appendChild(answerDiv);
            faqContainer.appendChild(faqItem);
        });

        // Ajout de l'interactivité avec jQuery
        $(document).ready(function() {
            $(".faq-question").click(function() {
                $(this).next(".faq-answer").slideToggle();
            });
        });
    </script>

</body>
</html>